{% extends 'base.html' %}

{% block content %}

{%if user.is_authenticated%}
<!-- Team -->
<section id="team" class="pb-5">
    <div class="container">
        <h5 style="text-align:center" class="section-title h1">Exemplos de Uso</h5>
    </br>
    <div class="row">
        <!-- Team member -->
        <div class="col-xs-12 col-sm-6 col-md-4">
            <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                <div class="mainflip">
                    <div class="frontside">
                        <div class="card">
                            <div class="card-body text-center">
                                <p><img class=" img-fluid" src="/static/img/positive.png" alt="card image"></p>
                                <h4 class="card-title">Positivo</h4>
                                <ol class="card-text">
                                    <li>Imagens que estejam em conformidade</li>
                                    <li>Imagens que tenham o que você acha que é correto</li>
                                    <li>Imagens que sejam positivas com base no que voce quer que seja votado</li>
                                </ol>
                            </div>
                        </div>
                    </div>
                    <!-- <div class="backside">
                        <div class="card">
                            <div class="card-body text-center mt-4">
                                <p><img class=" img-fluid" src="/static/img/naoconforme2.jpg" alt="card image"></p>
                                <h4 class="card-title">	Não Conforme</h4>
                                <ul class="list-inline">
                                </ul>
                            </div>
                        </div>
                    </div> -->
                </div>
            </div>
        </div>
        <!-- ./Team member -->
        <!-- Team member -->
        <div class="col-xs-12 col-sm-6 col-md-4">
            <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                <div class="mainflip">
                    <div class="frontside">
                        <div class="card">
                            <div class="card-body text-center">
                                <p><img class=" img-fluid" src="/static/img/neutro.png" alt="card image"></p>
                                <h4 class="card-title">Neutro</h4>
                                <ol class="card-text"> 
                                    <li>Imagens que sejam neutras</li>
                                    <li>Imagens que não passem infomações positivas ou negativas</li>
                                    <li>Imagens que não se sabe identificar seu sentido</li>
                                    <!-- <li>Mão ao volante</li> -->
                                </ol>
                            </div>
                        </div>
                    </div>
                    <!-- <div class="backside">
                        <div class="card">
                            <div class="card-body text-center mt-4">
                                <p><img class=" img-fluid" src="/static/img/naoconforme3.jpg" alt="card image"></p>
                                <h4 class="card-title">Não Conforme</h4>
                                <ul class="list-inline">
                                </ul>
                            </div>
                        </div>
                    </div> -->
                </div>
            </div>
        </div>
        <!-- ./Team member -->
        <!-- Team member -->
        <div class="col-xs-12 col-sm-6 col-md-4">
            <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                <div class="mainflip">
                    <div class="frontside">
                        <div class="card">
                            <div class="card-body text-center">
                                <p><img class=" img-fluid" src="/static/img/negative.png" alt="card image"></p>
                                <h4 class="card-title">Negativo</h4>
                                <ol class="card-text"> 
                                    <li>Imagens com sentido negativo</li>
                                    <li>Imagens que não estão conformes</li>
                                    <li>Imagens que não são aceitas</li>
                                </ol>
                            </div>
                        </div>
                    </div>
                    <!-- <div class="backside">
                        <div class="card">
                            <div class="card-body text-center mt-4">
                                <p><img class=" img-fluid" src="/static/img/naoconforme1.jpg" alt="card image"></p>
                                <h4 class="card-title">Não Conforme</h4>
                                <ul class="list-inline">
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> -->
        <!-- ./Team member -->
        <!-- Team member -->
        <!-- <div class="col-xs-12 col-sm-6 col-md-4">
            <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                <div class="mainflip">
                    <div class="frontside">
                        <div class="card">
                            <div class="card-body text-center">
                                <p><img class=" img-fluid" src="/static/img/naoconforme4.jpg" alt="card image"></p>
                                <h4 class="card-title">Não Conforme</h4>
                            </div>
                        </div>
                    </div>
                    <div class="backside">
                        <div class="card">
                            <div class="card-body text-center mt-4">
                                <p><img class=" img-fluid" src="/static/img/naoconforme5.jpg" alt="card image"></p>
                                <h4 class="card-title">Não Conforme</h4>
                                <ul class="list-inline">
                                </ul>
                            </div>
                            <div class="backside">
                                <div class="card">
                                    <div class="card-body text-center mt-4">
                                        <p><img class=" img-fluid" src="/static/img/naoconforme12.jpg" alt="card image"></p>
                                        <h4 class="card-title">Não Conforme</h4>
                                        <ul class="list-inline">
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> -->
        <!-- ./Team member -->
        <!-- Team member -->
        <!-- <div class="col-xs-12 col-sm-6 col-md-4">
            <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                <div class="mainflip">
                    <div class="frontside">
                        <div class="card">
                            <div class="card-body text-center">
                                <p><img class=" img-fluid" src="/static/img/naoconforme6.jpg" alt="card image"></p>
                                <h4 class="card-title">Não Conforme</h4>
                            </br>
                        </div>
                    </div> -->
                </div>
                <!-- <div class="backside">
                    <div class="card">
                        <div class="card-body text-center mt-4">
                            <p><img class=" img-fluid" src="/static/img/naoconforme7.jpg" alt="card image"></p>
                            <h4 class="card-title">Não Conforme</h4>
                            <ul class="list-inline">
                            </ul>
                        </div>
                    </div>
                </div> -->
                <!-- <div class="backside">
                    <div class="card">
                        <div class="card-body text-center mt-4">
                            <p><img class=" img-fluid" src="/static/img/naoconforme11.jpg" alt="card image"></p>
                            <h4 class="card-title">Não Conforme</h4>
                            <ul class="list-inline">
                            </ul>
                        </div>
                    </div>
                </div> -->
            <!-- </div>
        </div>
    </div> -->
    <!-- ./Team member -->
    <!-- Team member -->
    <!-- <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
            <div class="mainflip">
                <div class="frontside">
                    <div class="card">
                        <div class="card-body text-center">
                            <p><img class=" img-fluid" src="/static/img/naoconforme8.jpg" alt="card image"></p>
                            <h4 class="card-title">Não Conforme</h4>
                        </div>
                    </div>
                </div>
                <div class="backside">
                    <div class="card">
                        <div class="card-body text-center mt-4">
                            <p><img class=" img-fluid" src="/static/img/naoconforme9.jpg" alt="card image"></p>
                            <h4 class="card-title">Não Conforme</h4>
                            <ul class="list-inline">
                            </ul>
                        </div>
                    </div>
                </div> -->
                <!-- <div class="backside">
                    <div class="card">
                        <div class="card-body text-center mt-4">
                            <p><img class=" img-fluid" src="/static/img/naoconforme10.jpg" alt="card image"></p>
                            <h4 class="card-title">Não Conforme</h4>
                            <ul class="list-inline">
                            </ul>
                        </div>
                    </div>
                </div> -->
            </div>
        </div>
    </div>
    <!-- ./Team member -->
</div>
</div>
</section>
<!-- Team -->

{% else %}

</br>
<div style='text-align: center;'>
<p style='font-size:25px;'>Você não esta logado.</p>
<a href="{% url 'login' %}"> Clique aqui para efetuar login</a>
</div>

{% endif %}

{% endblock content %}